/*my dev scss file*/

.center-img {
	margin: 0 auto;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.orange {
	background-color: orange;
}

.purple {
	background-color: purple;
}
 h1 {

 	background-color: hsla(180, 50%, 50%, 1);
 	text-align: center;

 }






